@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #FFFBF5B2;
    font-family: font;
    margin: 0 auto;
    overflow-x: hidden;
    user-select: none;
}
/* *{
    max-width: 1700px !important;
} */
@font-face {
    font-family: font;
    src: url(./assets/fonts/ChakraPetch-Medium.ttf);
}

.swiper-scrollbar {
    background: #fff; /* Background of the scrollbar track */
  }
  
  .swiper-scrollbar-drag {
    background: #CA05D1; /* Color of the scrollbar thumb */
  }




.custom-scrollbar {
    background: #e4e4e4;
    z-index: 10;
    margin-right: 97%;
}


::-webkit-scrollbar {
    width:7px;
    background-color:#fff;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}
